body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 5%;
       
}
h1{
    font-size: 300%;
    border-left: 5px rgb(255, 38, 0) solid;

}
.orange-color{
    color: orangered;
}
section{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    
}
.half-width img{
    width: 90%;
    padding-inline: 10%;
    padding-left: 5%;
    padding-bottom: 30%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 69, 37);
    border-radius: 7px;
    font-weight: 400;
    padding: 12px 25px;
}