body{
    font-family: sans-serif;
    font-size: x-mediam;
    margin: 0%;
}
h1{
    font-size: 350%;
}
h2{
    font-size: 330%;
}
.orange-color{
    color: orangered;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}